doctype html
html(lang="en")
  include head.jade
  body
    section(class='hero airsoft')
      div(class='container')
        div(class='row')
            div(class='icon-home hidden-md hidden-lg')
                  a(href='index.html' )
                    div(class='')
                    span(class='inline') Home
            div(class='col-sm-12')
                img(src='assets/img/logo-airsoft.png' class='icon-airsoft')
              
                div(class='icon-home hidden-xs hidden-sm')
                  a(href='index.html' )
                    div(class='')
                    span(class='inline') Home
      section(class='gallery airsoft slide-g pt-5')
                 a(href='#')
                    img(src='assets/img/balas-1.png' class='')
                 a(href='#')
                    img(src='assets/img/balas-2.png' class='')
                 a(href='#')
                    img(src='assets/img/balas-3.png' class='')
                 a(href='#')   
                    img(src='assets/img/balas-3.png' class='')

      section(class='container')
        div(class='col-sm-12 text-center pt-5 pb-3')
          p(class='text-black fw-light fz-2-xs') Para consultas o compras por favor llamar a los siguientes números
          span(class='phone text-black fz-3-xs') 989 043 957 / 986 616 802






    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/main.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/custom.js')
    