doctype html
html(lang="en")
  include head.jade
  body
    section(class='hero airsoft')
      div(class='container')
        div(class='row')
            div(class='col-sm-12')
                h1 AIR SOFT
                img(src='assets/icons/airsoft-logo.png' class='icon-airsoft')
                span(class='subtitle') Tienda
                div(class='icon-home')
                  a(href='#' )
                    div(class='inline')
                    span(class='inline') Home
    section(class='gallery airsoft slide-g pt-5')
               a(href='#')
                  img(src='assets/img/balas-1.png' class='')
               a(href='#')
                  img(src='assets/img/balas-2.png' class='')
               a(href='#')
                  img(src='assets/img/balas-3.png' class='')
               a(href='#')   
                  img(src='assets/img/balas-3.png' class='')

    section(class='container')
      div(class='col-sm-12 text-center pt-5 pb-3')
        p(class='text-black fw-light') Para consultas o compras por favor llamar a los siguientes números
        span(class='phone text-black') 989 043 957 / 986 616 802






    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/main.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/custom.js')
    