doctype html
html(lang="en")
  include head.jade
  body
    section(class='hero bazooka' id='main')
      div(class='container hidden-xs hidden-sm')
        div(class='row')
            div(class='col-sm-12 menu hover-white')
                a(href='index.html' ) Home
                span(class='bar') |
                a(href='paintball.html' ) Paintball
                span(class='bar') |
                a(href='nerf.html' ) Nerf
                span(class='bar') |
                a(href='bazooka.html' ) Bazooka
                span(class='bar') |
                a(href='airsoft.html' ) Airsoft
                span(class='bar') |
                a(href='#' ) Tienda

      div(class='container')
        div(class='row')
            div(class='col-sm-12 ')
                a( href='index.html' class='hidden-md hidden-lg arrow-xs inline') <
                h1(class='text-left-xs inline-xs') Bazooka ball
            div(class='col-sm-12 plr-0-xs plr-10')
                div(class='col-sm-12 col-md-5 plr-0-xs mt-5-xs')
                    div(class='black-box text-center')
                        img(src='assets/icons/icon-bazooka.png' class='text-center icon-pb')
                        p(class='text-left') El BAZOOKA BALL es un juego de guerra novedoso, lleno de accion y totalmente seguro donde se enfrentan 2 equipos de hasta 8 jugadores con el objetivo de capturar una bandera. No es Paintball pero si toma la forma y reglas de este conocido juego.
                        a(href='#openInfo' class='info-pb') Ver más
                        div(id='openInfo' class='modal-info')
                          div
                            h2 Bazooka
                            p El paintball en esencia es un juego y deporte de estrategia complejo en el cual se enfrentan dos equipos con el fin de eliminar a todos los jugadores del bando rival o completar un objetivo ( como capturar una bandera o eliminar a un jugador en concreto). Los jugadores alcanzados por bolas de pintura son eliminados del mismo. Contrariamente a lo que se piensa, es uno de los deportes al aire libre más seguros. A pesar de lo que mucha gente piensa que es un juego violento, todo lo contrario, es un juego que fomenta la colaboración en equipo asi como la relajación y la disminución del estrés ocacionado por el trabajo, estudios, etc. 
                            span Campos
                            ol
                              li Campo móvil
                              li Lima Norte (próximamente)
                            span Tienda
                            ol
                              li Cajas de Paintball
                              li Máscaras
                              li Lentes
                              li Marcadores de Paintball Tippmann 98 y FT 12
                              li Venta de repuestos para marcadoras Tippmann 98 y FT 12

                            a(href='#close' title='close' class='back') Volver atrás
                div(class='col-sm-12 col-md-7 pl-0 plr-0-xs mt-10-xs mb-10-xs')
                    div(class='black-box plr-0-xs')
                        form
                            p(class='plr-5-xs') Llena tus datos para realizar una reserva

                            input(type="text" placeholder="Nombre completo" name="fullname" class='mlr-5-xs mtb-5-xs' required )
                            span(class='required') *
                            input(type="email" placeholder="Correo" name="fullname" class='mlr-5-xs mtb-5-xs' required)
                            span(class='required') *
                            input(type="phone" placeholder="telefono" name="phone" class='mlr-5-xs mtb-5-xs' required)
                            span(class='required') *
                            input(class="submit" type="submit" name="submit" class='width-100-xs' value="Enviar")
      section(class='gallery pb hidden-xs hidden-sm')
            div(class='col-sm-12 col-md-3 pl-0 pr-0' )
                a(href='#openImg1' class='')
                  img(src='assets/img/b1-mini.png' class='')
                div(id='openImg1' class='modalImg')
                  div
                    a(href='#close' title='close' class='close') X
                    img(src='assets/img/b1-full.png' class='')
            div(class='col-sm-12 col-md-3 pl-0 pr-0')
                a(href='#openImg2' class='')
                   img(src='assets/img/b2-mini.png' class='')
                div(id='openImg2' class='modalImg')
                  div
                    a(href='#close' title='close' class='close') X
                    img(src='assets/img/b2-full.png' class='')
            div(class='col-sm-12 col-md-3 pl-0 pr-0')
                a(href='#openImg3' class='')
                  img(src='assets/img/b3-mini.png' class='')
                div(id='openImg3' class='modalImg')
                  div
                    a(href='#close' title='close' class='close') X
                    img(src='assets/img/b3-full.png' class='')
            div(class='col-sm-12 col-md-3 pl-0 pr-0')
                a(href='#openImg4' class='')
                  img(src='assets/img/b4-mini.png' class='')
                div(id='openImg4' class='modalImg')
                 div
                    a(href='#close' title='close' class='close') X
                    img(src='assets/img/b4-full.png' class='')






    script(type='text/javascript' language='JavaScript' src='js/main.js')
    script(language='JavaScript' type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.homeycombs.js')
    

