div(class='container hidden-xs hidden-sm')
        div(class='row')
            div(class='col-sm-12 menu')
                a(href='index.html' ) Home
                span(class='bar') |
                a(href='paintball.html' ) Paintball
                span(class='bar') |
                a(href='nerf.html' ) Nerf
                span(class='bar') |
                a(href='bazooka.html' ) Bazooka
                span(class='bar') |
                a(href='airsoft.html' ) Airsoft
                span(class='bar') |
                a(href='#openAlert' class='') Tienda 
                div(id='openAlert' class='modal-info home text-center')
                    div
                        h3 Disculpe las molestias
                        p Estamos trabajando en la tienda para que puedas encontrar los mejores productos.
                