div(class='container')
        div(class='row')
            div(class='col-sm-12 menu')
                a(href='#' ) Home
                span(class='bar') |
                a(href='#' ) Paintball
                span(class='bar') |
                a(href='#' ) Nerf
                span(class='bar') |
                a(href='#' ) Bazooka
                span(class='bar') |
                a(href='#' ) Airsoft
                span(class='bar') |
                a(href='#' ) Tienda
                