doctype html
html(lang="en")
  include head.jade
  body(onLoad='modal(1),modal(2), modal(3), modal(4), modal(5),modal(6), modal(7), modal(8)')
    section(class='hero nerf' id='main')
      div(class='container hidden-xs hidden-sm')
        div(class='row')
            div(class='col-sm-12 menu hover-white')
                a(href='index.html' ) Home
                span(class='bar') |
                a(href='paintball.html' ) Paintball
                span(class='bar') |
                a(href='nerf.html' ) Nerf
                span(class='bar') |
                a(href='bazooka.html' ) Bazooka
                span(class='bar') |
                a(href='airsoft.html' ) Airsoft
                span(class='bar') |
                a(href='#openAlert' class='') Tienda
                div(id='openAlert' class='modal-info text-center home')
                    div
                        h3 Disculpe las molestias
                        p Estamos trabajando en la tienda para que puedas encontrar los mejores productos.
                        a(class="close" href="#close" title="close") x


      div(class='container')
        div(class='row')
            div(class='col-sm-12')
                a( href='index.html' class='hidden-md hidden-lg arrow-xs inline') <
                h1(class='text-left-xs inline-xs') Nerf
            div(class='col-sm-12 plr-0-xs plr-10')
                div(class='col-sm-12 col-md-5 plr-0-xs mt-5-xs')
                    div(class='black-box text-center')
                        img(src='assets/icons/icon-nerf.png' class='text-center icon-pb')
                        p(class='text-left') Te ofrecemos una contienda con lanzadores de Nerf que al disparar dardos de espuma es totalmente inocuo para los niños. Tal vez usted esté pensando que este juego podría promover instintos bélicos, sin embargo en nuestra experiencia hemos comprobado que más bien es positivo para ellos.
                        a(href='#openInfo' class='info-pb') Ver más
                        div(id='openInfo' class='modal-info text-left')
                          div
                            h2 nerf
                            p Te ofrecemos una contienda con lanzadores de Nerf que al disparar dardos de espuma es totalmente inocuo para los niños. Tal vez usted esté pensando que este juego podría promover instintos bélicos, sin embargo en nuestra experiencia hemos comprobado que más bien es positivo para ellos, pues toda la energía que poseen se encamina de la misma manera que en un deporte con equipos, hacia un objetivo; los niños deben aguardar turnos, estar atentos a los contrincantes, deben ser solidarios, cubrir al compañero y todo sin hacerse daño, ejercitan los reflejos en un lugar seguro para hacerlo, es divertido y les significa un reto. Sienten que la diversión salta de un videojuego  a la propia realidad. Lo recomendamos para niños y niñas entre 6 y 10 años.
                            span Paquetes
                            ol
                              li Libre: 1 hora de juego + 1 hora en la zona del compartir. Hasta 24 jugadores (4 equipos de 6 jugadores)


                              li Cumpleaños: 2 horas de juego + 1 hora en la zona del compartir. Hasta 32 jugadores (4 equipos de 8 jugadores)

                              li Movil: 2 horas de juego. Maximo 32 jugadores

                            span Locales
                            ol
                              li La Molina
                              li Jesus María(próximamente)
                            span Rango de edad: 6 a 10 años
                            

                            a(href='#close' title='close' class='back') Volver atrás
                div(class='col-sm-12 col-md-7 pl-0 plr-0-xs mt-10-xs mb-10-xs ')
                    div(class='black-box plr-0-xs')
                        form
                            p(class='plr-5-xs') Llena tus datos para realizar una reserva

                            input(type="text" placeholder="Nombre completo" name="fullname" required class='mlr-5-xs mtb-5-xs')
                            span(class='required') *
                            input(type="email" placeholder="Correo" name="fullname" required class='mlr-5-xs mtb-5-xs')
                            span(class='required') *
                            input(type="phone" placeholder="Teléfono" name="phone" required class='mlr-5-xs mtb-5-xs')
                            span(class='required') *
                            input(class="submit" type="submit" class='width-100-xs' name="submit" value="Enviar")
      section(class='gallery pb hidden-xs hidden-sm slide-g')
            div(class='item' )
               a(id="modal1" href="assets/img/n1-full.png")
                  img(src='assets/img/n1.png' alt="modal1" class='')
            div(class='item' )
               a(id="modal2" href="assets/img/n2-full.png")
                  img(src='assets/img/n2.png' alt="modal2" class='')
            div(class='item' )
              a(id="modal3" href="assets/img/n3-full.png")
                  img(src='assets/img/n3.png' alt="modal3" class='')
            div(class='item' )
              a(id="modal4" href="assets/img/n4-full.png")
                  img(src='assets/img/n4.png' alt="modal4" class='')
            div(class='item' )
               a(id="modal5" href="assets/img/n5-full.png")
                  img(src='assets/img/n5.png' alt="modal5" class='')
            div(class='item' )
               a(id="modal6" href="assets/img/n6-full.png")
                  img(src='assets/img/n6.png' alt="modal6" class='')
            div(class='item' )
              a(id="modal7" href="assets/img/n7-full.png")
                  img(src='assets/img/n7.png' alt="modal7" class='')
            div(class='item' )
              a(id="modal8" href="assets/img/n8-full.png")
                  img(src='assets/img/n8.png' alt="modal8" class='')

    
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery-migrate-1.2.1.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.fancybox-1.3.4.pack.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.mousewheel-3.0.4.pack.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/main.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/custom.js')

