doctype html
html(lang="en")
  include head.jade
  body
    section(class='hero pb ' id='main')
      include menu.jade

      div(class='container')
        div(class='row')
            div(class='col-sm-12 ')
                a( href='index.html' class='hidden-md hidden-lg arrow-xs inline') <
                h1(class='text-left-xs inline-xs') Paintball
            div(class='col-sm-12 plr-0-xs plr-10 mt-5-xs')
                div(class='col-sm-12 col-md-5 plr-0-xs')
                    div(class='black-box text-center')
                        img(src='assets/icons/icon-pb.png' class='text-center icon-pb')
                        p(class='text-left')  El PAINTBALL es un deporte extremo en el que los participantes usan marcadoras accionadas por aire comprimido/CO2 para disparar pequeñas bolas rellenas de pintura a otros jugadores con el objetivo de cumplir la misión encomendada. 
                        a(href='#openInfo' class='info-pb') Ver más
                        div(id='openInfo' class='modal-info text-left')
                          div
                            h2 Paintball
                            p  El Paintball es un deporte extremo en el que los participantes usan marcadoras accionadas por aire comprimido/CO2 para disparar pequeñas bolas rellenas de pintura a otros jugadores con el objetivo de cumplir la misión encomendada. Es un juego de guerra lleno de acción y totalmente seguro, en el que los participantes  deben desenvolverse  con estrategia y trabajo en equipo. Sentirá que la diversión salta de un videojuego  a la propia realidad.
                            span Campos
                            ol
                              li Campo móvil
                              li Lima Norte (próximamente)
                            span Tienda
                            ol
                              li Cajas de Paintball
                              li Máscaras
                              li Lentes
                              li Marcadores de Paintball Tippmann 98 y FT 12
                              li Venta de repuestos para marcadoras Tippmann 98 y FT 12

                            a(href='#close' title='close' class='back') Volver atrás
                div(class='col-sm-12 col-md-7 pl-0 plr-0-xs mt-10-xs mb-10-xs')
                    div(class='black-box plr-0-xs')
                        form
                            p(class='plr-5-xs') Llena tus datos para realizar una reserva

                            input(type="text" placeholder="Nombre completo" name="fullname" required class='mlr-5-xs mtb-5-xs')
                            span(class='required') *
                            input(type="email" placeholder="Correo" name="fullname" required class='mtb-5-xs mlr-5-xs')
                            span(class='required') *
                            input(type="phone" placeholder="Teléfono" name="phone" required class='mlr-5-xs mtb-5-xs')
                            span(class='required') *
                            input(class="submit" type="submit" name="submit" value="Enviar" class='width-100-xs')
      section(class='gallery pb hidden-xs hidden-sm slide-g')
           div(class='item' )
              a(id="example1" href="assets/img/p1-full.jpg")
                img(src='assets/img/p1-mini.png' alt="example1" class='')
           div(class='item' )
              a(href='#openImg2' class='')
                img(src='assets/img/p2-mini.png' class='')
              div(id='openImg2' class='modalImg p2')
                div
                  a(href='#close' title='close' class='close') X
                  img(src='assets/img/p2-full.png' class='')
           div(class='item' )
              a(href='#openImg3' class='')
                img(src='assets/img/p3-mini.png' class='')
              div(id='openImg3' class='modalImg p3')
                div
                  a(href='#close' title='close' class='close') X
                  img(src='assets/img/p3-full.png' class='')
           div(class='item' )
              a(href='#openImg4' class='')
                img(src='assets/img/p4-mini.png' class='')
              div(id='openImg4' class='modalImg p3')
                div
                  a(href='#close' title='close' class='close') X
                  img(src='assets/img/p4-full.png' class='')





    
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.fancybox-1.3.4.pack.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.mousewheel-3.0.4.pack.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/main.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/custom.js')

  