doctype html
html(lang="en")
  include head.jade
  body
    section(class='hero pb')
      include menu.jade

      div(class='container')
        div(class='row')
            div(class='col-sm-12')
                h1 Paintball
            div(class='col-sm-12 plr-10')
                div(class='col-sm-12 col-md-4')
                    div(class='black-box')
                div(class='col-sm-12 col-md-8 pl-0')
                    div(class='black-box')
                




    
    script(language='JavaScript' type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/owl.carousel.min.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/jquery.homeycombs.js')
    script(language='JavaScript' type='text/javascript' src='assets/js/main.js')

