body 
    font-family "san francisco"!important
    font-weight 500!important 
    p 
        font-size 16px
        color white!important
        
.hero
    width 100%
    background-size cover
    background-position-y -81px
    
    .col-sm-12.menu
        padding-left 35%
        padding-top 3.5%
        padding-bottom 3%
        a
            color #333
            text-transform uppercase
            text-decoration none
            font-size 15px
            &:hover
                border-bottom 2px solid #5b7532
                color #5b7532
        span 
            padding-left 5%
            padding-right 5%
    .col-sm-12.menu.hover-white
    	a
    		&:hover
    			border-bottom 2px solid white
    			color white
    h1
        text-transform uppercase
        text-align center
        color black
        font-weight bolder
        font-size 6em
        
    
.hero.home
    background-image url('../img/bg.png')
    &:before
        content ''
        position: absolute
        top 0
        right 0
        bottom 0
        left 0
        background-image linear-gradient(to bottom, rgba(47, 46, 46, 0.46), rgba(0,0,0,0.45))
        opacity .8
    
    .container 
        padding-top 10%
        
        h2, span 
            position absolute
            
            z-index 5
        h2 
            text-transform uppercase
            color white
            font-weight bolder
            font-size 24px
        h2.a 
            top 0
        h2.b 
            bottom 0
        h2.c 
            right 0 
        span
            top 40%
            left 24%
            color black
        
    .logo
        background-image url('../img/logo.png')
        height 110px
        width 12%
        background-size cover
        position absolute
        top 8%
        left 5%
    
    .boton-tienda
        position absolute
        top 43%
        left 43.5%
        
    .icon-fb
        position absolute
        top 27%
        left 10%

.hero.pb
    background-image url('../img/bg-paintball.png')
.hero.bazooka
	background-image url('../img/bg-bazooka.png')
.hero.nerf
	background-image url('../img/bg-nerf.png')
.hero.airsoft
	background-image none
	
.hero.pb , .hero.bazooka , .hero.nerf , .hero.airsoft
	   
    .black-box
        width 100%
        background-color rgba(0, 0, 0, 0.56)
        height 335px
        padding 5%

    .icon-pb
            position relative
            margin 6% 0%
            left 34%
            
    .info-pb
        font-weight bold
        text-align right
        float right
        font-size 17px
        color white
        padding-right 7%
        padding-top 9%
        
    form 
        padding 5% 14.5%
        
        input[type=text], input[type=email], input[type=phone]
            width 100%
            background-color rgba(255, 255, 255, 0) 
            border 1px solid white
            padding 2% 8% 
            font-size 16px
            margin 3% 0%
            color white
            
        input[type=submit]
            background-color #5b7531
            color white
            border 0px
            padding 1.5% 14%
            font-size 16px
            float right
            margin-top 4%
            
.gallery.pb
    border-top 5px solid white 
    margin-top 5%
    img 
        width 100%

.hero.airsoft
    .col-sm-12
        text-align center
        padding-top 6%
    h1 
        display inline
        font-size 4.5em!important
    .subtitle
        text-transform uppercase
        letter-spacing 20px
        display block
        font-size 1.8em
        padding-left 7%
        position relative
        bottom 12px
        font-weight 400     
    .icon-airsoft
         display inline
         position absolute
         padding-top 1%
    .gallery.airsoft
        margin-top 0%
        img
            width 100%
            
/* utils */

.right 
    float right
    
.pl-0
    padding-left 0px!important
.pr-0
    padding-right 0px!important
.plr-10
    padding-right 10%
    padding-left 10%
    
.zoom-effect 
	transition all .2s ease-in-out
	&:hover
		transform scale(1.1)