body 
    font-family "san francisco"!important
    font-weight 500!important 
    p 
        font-size 16px
        
.hero-slider
	
	.item
		width 100%
	.slide
		padding-top 20%
		height 800px
		background-size cover
		.col-sm-12
		    align-items center
		    justify-content center
		    display flex
		h1 
			color white 
			font-family "master of break"
			text-shadow 4px 4px 2px rgba(150, 150, 150, 1)
		img
			width auto!important
			
	.a1
		background-image url('../img/4.png')
	.a2
		background-image url('../img/3.png')
	.a3
		background-image url('../img/2.png')
	.a4
		background-image url('../img/1.png')
		

.form 
	p 
		text-align center 
	.banner-orange
		padding-top 0.6%
		color white
		background-color orange
		height 40px