body 
    font-family "san francisco"!important
    font-weight 500!important 
    p 
        font-size 16px
        
.hero
    width 100%
    background-size cover
    background-position-y -81px
    position fixed
    .col-sm-12.menu
        padding-left 35%
        padding-top 3.5%
        padding-bottom 3%
        a
            color #333
            text-transform uppercase
            text-decoration none
            font-size 15px
            &:hover
                border-bottom 2px solid #5b7532
                color #5b7532
        span 
            padding-left 5%
            padding-right 5%
    h1
        text-transform uppercase
        text-align center
        color black
        font-weight bolder
        font-size 6em
        
    
.hero.home
    background-image url('../img/bg.png')
    &:before
        content ''
        position: absolute
        top 0
        right 0
        bottom 0
        left 0
        background-image linear-gradient(to bottom, rgba(47, 46, 46, 0.46), rgba(0,0,0,0.45))
        opacity .8
    
    .container 
        padding-top 10%
        
        h2, span 
            position absolute
            
            z-index 5
        h2 
            text-transform uppercase
            color white
            font-weight bolder
            font-size 24px
        h2.a 
            top 0
        h2.b 
            bottom 0
        h2.c 
            right 0 
        span
            top 40%
            left 24%
            color black
        
    .logo
        background-image url('../img/logo.png')
        height 110px
        width 12%
        background-size cover
        position absolute
        top 8%
        left 5%
    
    .boton-tienda
        position absolute
        top 43%
        left 43.5%
        
    .icon-fb
        position absolute
        top 27%
        left 10%

.hero.pb
    background-image url('../img/bg-paintball.png')
    
    .black-box
        width 100%
        background-color rgba(0, 0, 0, 0.56)
        height 300px

        
            
            
        
/* utils */

.right 
    float right
    
.pl-0
    padding-left 0px!important
.pr-0
    padding-right 0px!important
.plr-10
    padding-right 10%
    padding-left 10%